body {
    text-align:center;
    font-family:"Comic Neue";
    font-size: 150%;
    background-color: #EBA0E6;
    color: #649E97;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
    text-align:center;
}

header {
    text-align:center;
}

#hobbies {
    border: 10px solid #649E97;
    text-align: left;
}

#gallery {
    border: 5px solid #649E97;
    text-align:center; 
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align:center;
}