body {
    text-align:center;
    font-family:"Comic Neue";
    font-size: 150%;
    background-color: #EBA0E6;
    color: #649E97;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif";
    text-align:center;
}

header {
    text-align:center;
}

#biography {
    border: 5px solid #649E97;
}

#hobbies {
    border: 5px solid #649E97;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#gallery {
    border: 5px solid #649E97;
    text-align:center; 
}

#gallery img {
    max-width: 100%;
}

#gallery figure {
    text-align:center;
}

#lit {
    border: 5px solid #649E97;
}

@media screen and (min-width: 60em) {
    figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    figcaption {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2rem;
        margin-left: 1rem;
    }

    figure img {
        width: 100%;
    }
    
    #lit div {
        max-width: 100%;
        columns: 20rem;
    }

}

@media screen and (min-width: 100em) {

    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    hr {
        display: none;
    }

    #gallery h2 {
        grid-column: 1/-1;
    }

    figure {
        display: block;
    }
}

#formElements {
    display:grid;
}